body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(23, 23, 23);
    color: rgb(255, 255, 255);
    margin:0;

}

#main {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(23, 23, 23);
    color: rgb(255, 255, 255);
    display: flex;;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    flex-direction: column;
    padding-top: 5%;
}

input {
    background-color: rgb(70, 70, 70);
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

.todo-list{
    list-style-type: none;
    list-style: none;
}

.todo-list > li{
    list-style-type: none;
}

.task{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.todo-list > li{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px;
}

.delete, .done, .edit, .priority{
    margin-left: 10px;
    border-radius: 20px;
    background-color: rgb(35, 34, 34);
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    height: 30px;
    width: 30px;
    font-size: 7px;
    padding: 1px;
}

.delete:hover, .done:hover, .edit:hover, .priority:hover{
    border: 1px solid rgb(255, 255, 255);
    color:rgb(0, 0, 0);

}

.task > div, .task > button{
    padding-right: 10px;
}

#buttonContainer{
    margin-top: 10px;
}

#addButton{
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    border-radius: 40px;
    padding: 5px 20px;
}

#sortButton{
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    border-radius: 40px;
    padding: 5px 20px;
}

select.priority {
    margin-left: 10px;
    border-radius: 20px;
    background-color: rgb(35, 34, 34);
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    height: 30px;
    width: 100px;
    font-size: 14px;
    padding: 5px 10px;
    appearance: none;
    cursor: pointer;
}

select.priority:hover{
    border: 1px solid rgb(255, 255, 255);
    color:rgb(255, 255, 255);
}

.done-task{
    background-color: rgb(25, 139, 25);
}

h2{
    text-align: center;
    font-size: 1.55rem;
}